.App {
    font-family: 'Helvetica Neue',
    Arial, 
    Helvetica, 
    sans-serif; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.Header {
    display: flex;
    border-bottom: inherit;
}

.Header > img {
    width: 32px;
    height: 32px;
    margin: 10px;
}

.Header > input {
    border: none;
    padding: 10px;
    width: 100%;
}

.Header > input:focus {
    outline: none;
}