.App {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
}

.Header {
    border-bottom: inherit;
}

.Header > img {
    width: 32px;
    height: 32px;
    margin: 10px;
}